In [1]:
# Q1.  Explain with an example each when to use a for loop and a while loop
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
t=0
i=5
while (i>0):
    print(i)
    i=i-1

5
4
3
2
1

In [3]:
# Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for and while loop
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print(sum,product)

55 3628800

In [4]:
sum=0
product=1
i=1
while (i<11):
    sum=sum+i
    product=product*i
    i=i+1
print(sum,product)

55 3628800

In [5]:
#4
def electricity(units):
    if (units<=100):
        return (4.5*units)
    elif (units<=200) :
        return (450+6*(units-100))
    elif (units<=300) :
        return (450+600+10*(units-200))
    else:
        return (450+600+1000+20*(units-300))

In [6]:
list=[]
for i in range(1,101):
    if i%4==0 or i%5==0:
        list.append(i)
print(list)

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [7]:
list=[]
i=1
while (i<101):
    if i%4==0 or i%5==0:
        list.append(i)
    i=i+1
print(list)

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [8]:
string = "I want to become a data scientist"
s=string.lower()
v=['a','e','i','o','u']
sum=0
for i in s:
    for j in v:
        if i==j:
            sum=sum+1
print(sum)

12